.App {
  text-align: center;
}

.App-header {
  background-color: #828387;
  border-radius: 40px;
  border: 20px white solid;
  font-family: 'Roboto', sans-serif;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
input {
  padding: 8px;
  border-radius: 6px;
  border-style: none;
  margin: 6px;
}

.removeGuestBtn {
  margin-left: 5px;
  text-align: center;
  padding: 6px;
  border-radius: 6px;
  border: none;
  color: #d42000;
  margin-left: 16px;
}

.removeGuestBtn:hover {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
